<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../design/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathav Images</title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="../templates/index.html">Home</a>
        <a href="images.html">Images of Mathav</a>
    </div>

    <h1>Images of Mathav</h1>

    <div class="mathavImages1">
    <img src="../assets/Mathavpic1.jpg" alt="cool picture of Mathav 1">
    <img src="../assets/Mathavpic2.jpg" alt="cool picture of Mathav 2">
    </div>
    <div class="mathavImages2">
    <img src="../assets/Mathavpic3.jpg" alt="cool picture of Mathav 3">
    <img src="../assets/Mathavpic4.jpg" alt="cool picture of Mathav 4">
    </div>
</body>
</html>