<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../design/style.css">
    <style>
        body {
        background-image: url('../assets/White-Abstract-Pictures.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        }
    </style>
</head>

<body>

    <title>The life of Mathav</title>

    

    </head>

    <body>

        <div class="topnav">
            <a class="active" href="../templates/index.html">Home</a>
            <a href="images.html">Images of Mathav</a>
        </div>

        <h1 id="homeHeader">Mathav Rajesh's life</h1>

        <div class="links">
            
        </div>
        <div class="bio">
            <p>Mathav Rajesh is a boy with a big imagination, he loves to play with lego and watch movies. He likes food a lot. </p>
            <p>He loves to talk to people and make new friends. And annoy his older brother.</p>
            <p>His favorite type of movies are action and comedy movies. His favorite superhero is <a href="https://en.wikipedia.org/wiki/Spider-Man">Spiderman!</a></p>
        </div>

        <video width="320" height="240" controls id="introVid">
            <source src="../assets/Mathav-Website-Video.mp4" type="video/mp4">
          </video>

    </body>

</html>